.login-page {
  position: fixed;
  height: 100vh;
  width: 100%;
  text-align: center;
  background-image: linear-gradient(to bottom, #f5f5fb, #f1f1fc, #edeefd, #e9eafe, #e5e7ff);
  background-size: cover;
  font-family: sans-serif;

  .login-logo {
    justify-content: center;
    width: 33%;
    display: block;
    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;
  }
  .login-title {
    font-weight: 500;
    font-size: 3vw;
    color: #000000;
  }

  .login-details {
    margin: 5vh auto;
    font-size: 1.5vw;
    width: 30vw;

    label {
      text-align: left;
      padding-right: 4vw;
      font-weight: 500;
      width: 3vw;
    }
    input {
      position: relative;
      float: right;
      clear: both;
      font-size: 1.5vw;
    }
  }

  .login-button {
    font-size: 1.5vw;
  }
  .login-button:hover {
    background-color: rgb(127, 217, 217);
  }

  .box-1 {
    z-index: -1;
    position: absolute;
    width: 35%;
    height: 75%;
    background-color: #e1e2fc;
    right: 0;
    bottom: 0;
  }
  .box-2 {
    position: absolute;
    width: 50%;
    height: 75%;
    right: 0;
    bottom: 0;
    background-color: #d3d9f9;
  }
  .login-prompt {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto auto;
    width: 50%;
    height: 35%;
    background-color: rgb(185, 185, 236);
    border-radius: 10px;

    h1 {
      position: relative;
      top: 50%;
    }

    button {
      padding: 20px;
      font-size: 24px;
      position: relative;
      top: 55%;
    }
  }
}
