.login-page {
  position: fixed;
  height: 100vh;
  width: 100%;
  text-align: center;
  background-color: #EAEBFE;
  // background-image: linear-gradient(to bottom, #eaebfe, #e5e6fd, #dfe2fb, #d9ddfa, #d3d9f9);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .login-logo {
    justify-content: center;
    width: 33%;
    display: block;
    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -4vh;
  }
  .login-title {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 3.5vw;
    color: #000000;
  }

  .login-username {
    margin: 5vh 0;
    font-size: 1.5vw;
    label {
      padding-right: 4vw;
      font-weight: 500;
    }
    input {
      font-size: 1.5vw;
    }
  }

  .login-password {
    margin: 5vh 0;
    font-size: 1.5vw;
    label {
      padding-right: 4vw;
      font-weight: 500;
    }
    input {
      font-size: 1.5vw;
    }
  }

  .login-button {
    font-size: 1.5vw;
  }
  .login-button:hover {
    background-color: rgb(127, 217, 217);
  }

  .box-1 {
    z-index: -1;
    position: absolute;
    width: 35%;
    height: 75%;
    background-color: #e1e2fc;
    right: 0;
    bottom: 0;
  }
  .box-2 {
    position: absolute;
    width: 50%;
    height: 75%;
    right: 0;
    bottom: 0;
    background-color: #d3d9f9;
  }

  .login-prompt {
    position: absolute;
    top: 20%;
    left: 20%;
    width:50%;
    height: 40%;
    background-color: blue;
  }
}
